// bower:scss
// endbower

body {
  padding:0;
}

ul {
  margin:0;
  padding:0;
}

li {
  float:left;
  width:100%;
  color:#000;
  margin:0 0 15px 0;
  list-style-type:none;
}

header {
  h1 {
    margin-top:0;
  }
  nav {
    margin:8px 0 0 15px;
  }
  li {
    width:auto;
    margin-right:15px;
    a {
      padding:5px;
      background:#CCC;
      transition:all 0.2s ease;
      &:hover,
      &:focus {
        background:#EEE;
      }
    }
  }
}

.main-wrapper {
  clear:both;
}

.pull-left {
  float:left;
}

.pull-right {
  float:right;
}

skill-bar {
  display:block;
  .bar {
    padding:5px;
    background:#BCBCBC;
  }
}